<div class="hero-unit">
  <h1>Band</h1>
</div>

<form class="form-horizontal">
  <legend>Band details</legend>

  <div class="control-group">
    <label class="control-label">Name:</label>

    <div class="controls">
      <input type="text" data-ng-model="item.name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Members</label>

    <div class="controls">
      <select>
        <option data-ng-repeat="member in members">{{member.name}}</option>
      </select>
      <button class="btn btn-small btn-primary">Add</button>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Albums</label>

    <div class="controls">
      <input type="text">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button class="btn btn-success">Save</button>
    </div>
  </div>

</form>