<div>
  <div class="hero-unit">
    <h1>Band member</h1>
  </div>
  <div style="padding-left: 60px;">
    <form class="form-horizontal">
      <legend>Edit band member</legend>

      <h4 data-ng-show="error" data-ng-bind="error" class="alert-block alert-error"></h4>
      <h4 data-ng-show="message" data-ng-bind="message" class="alert-block alert-success"></h4>

      <div class="control-group">
        <label class="control-label">ID</label>

        <div class="controls">
          <input type="text" readonly data-ng-model="item._id">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
          <input type="text" data-ng-model="item.name">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary" data-ng-click="save()">Save</button>
          <button class="btn btn-danger" data-ng-click="delete()">Delete</button>
          <a href="#/member-list" class="btn">Back</a>
        </div>
      </div>
    </form>

  </div>
</div>